extends ../../templates/default.jade

block content
  .text-center
    h1 Tyson Nadeau
    h2 2nd Birthday Celebration
    hr
    p Party Begins at 11am @ 2448 Quaker Village Rd, Weybridge, VT
    p We plan on having some good food, please bring some beverages for yourself.
    br
  .typeform-widget(data-url='https://jamesnadeau1.typeform.com/to/A1yrKF', data-transparency='50', data-hide-headers='true', data-hide-footer='true', style='width: 100%; height: 500px;')
  script.
    (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
  div(style='font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;')
    | powered by 
    a(href='https://admin.typeform.com/signup?utm_campaign=A1yrKF&utm_source=typeform.com-12636941-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN', style='color: #999', target='_blank') Typeform
